*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif
}

/*       HEADER       */

header{
  background-color: #FF6801;
}

.navbar{
  height: 80px;
  max-width: 1100px;
}

.container{
  margin: 0 auto;
  text-align: left;
}

.row-left{
  display: flex;
  justify-content: left;
  align-items: center;
}

.row-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .navbar .row-left{
  height: 80px;
}

header .navbar .row-left a{
  text-decoration: none;
  padding-right: 10px;
  color: white;
}

.logo-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo{
  width: 20%;
}

/*      MAIN       */

.debug{
  background-color: #ff6701bb;
  border: 1px solid black;
}

.container{
  max-width: 1370px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col{
  width: calc(100%/3);
  padding: 0 10px;
}

main{
  padding-top: 100px;
}

img{
  max-width: 100%;
}

.card{
  margin-bottom: 20px;
}

.card .card-images{
  position: relative;
  cursor: pointer;
}

.card .card-images .secondary-image{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.card .card-images:hover .secondary-image{
  display: block;
}

.card .card-images .favourite{
  position: absolute;
  background-color: white;
  padding: 20px 15px;
  top: 20px;
  right: 0;
}

.card .card-images .favourite:hover{
  color: red;
}

.card .card-images .badges{
  position: absolute;
  left: 0;
  bottom: 10px;
}

.card .card-images .badges .badge{
  display: inline-block;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  margin-right: 5px;
}

.card .card-images .badges .badge.tag{
  background-color: green;
}

.card .product-name{
  font-weight: bold;
}

.card .prices span{
  font-weight: bold;
  color: red;
}

